<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 7px;

}

th {
	border: 3px solid #ffffff;
	text-align: center;
	padding: 7px;
	background-color: #000000;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
	<title>Progetto Siw</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		
</head>
<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1>SILPH</h1>
				<nav id="nav">
					<ul>
						<li><a th:href="@{/tornaindex}">Home</a></li>
					
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Richiedi delle Foto</h2>
					<ul class="actions">
					</ul>
				</div>
			</section>
			<div></div>
			
	<div>
		<form th:action="@{/richiesta}" method="POST" th:object="${richiesta}">
		<table>
		<tr>
			<td><font size="4"><b>Nome del richiedente</b></font></td>
			<td><input type="text" th:field="*{richiedente}"></td>
			<td th:if="${#fields.hasErrors('richiedente')}" th:errors=*{richiedente}></td>
		</tr>
		<tr>
			<td><font size="4"><b>Email Contatto</b></font></td>
			<td><input type="text" th:field="*{emailContatto}"></td>
			<td th:if="${#fields.hasErrors('emailContatto')}" th:errors=*{emailContatto}></td>
		</tr>
		
		<tr>
			<td><font size="4"><b>Scopo della Richiesta</b></font></td>
			<td><input type="text" th:field="*{scopo}"></td>
			<td th:if="${#fields.hasErrors('scopo')}" th:errors=*{scopo}></td>
		</tr>
		
		<tr>
			<td><font size="4"><b>Lista id delle foto</b></font></td>
			<td><input type="text" th:field="*{listaFoto}"></td>
			<td th:if="${#fields.hasErrors('listaFoto')}" th:errors=*{listaFoto}></td>
		</tr>
		
		<tr>
			<td>
				<button type="submit">Conferma</button>
			</td>
		</tr>
			
	</table>
	</form>
	</div>

</body>
</html>