<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Progetto Siw</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>

<link rel="stylesheet" href="css/skel.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/style-xlarge.css" />

</head>
<body id="top">

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			Silph
		</h1>
		<nav id="nav">
			<ul>
				<li><a th:href="@{/tornaindex}">Home</a></li>
				<li><form th:action="@{/logout}" method="post">
            	<input type="submit" value="Log Out"/></li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Benvenuto Funzionario</h2>
			<ul class="actions">
			</ul>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1">
		<header class="major"> </header>
		<div class="container">
			<div class="row">
				<div class="4u">
					<section class="special box">
						<i class="icon fa-area-chart major"></i>
						<h3>
							<a th:href="@{/inseriscifotografia}">Aggiungi Foto</a>
						</h3>
					</section>
				</div>

				<div class="4u">
					<section class="special box">
						<i class="icon fa-area-chart major"></i>
						<h3>
							<a th:href="@{/inseriscialbum}">Aggiungi Album</a>
						</h3>
					</section>
				</div>

				<div class="4u">
					<section class="special box">
						<i class="icon fa-area-chart major"></i>
						<h3>
							<a th:href="@{/inseriscifotografo}">Aggiungi Fotografi</a>
						</h3>
					</section>
				</div>

			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="4u">
					<section class="special box">
						<i class="icon fa-area-chart major"></i>
						<h3>
							<a th:href="@{/fotografie}">Sfoglia Foto</a>
						</h3>
					</section>
				</div>

				<div class="4u">
					<section class="special box">
						<i class="icon fa-area-chart major"></i>
						<h3>
							<a th:href="@{/tuttiglialbum}">Sfoglia Album</a>
						</h3>
					</section>
				</div>

				<div class="4u">
					<section class="special box">
						<i class="icon fa-area-chart major"></i>
						<h3>
							<a th:href="@{/fotografi}">Sfoglia Fotografi</a>
						</h3>
					</section>
				</div>


			</div>
		</div>
		<div class="container">
			

				<div class="4u">
					<section class="special box">
						<i class="icon fa-area-chart major"></i>
						<h3>
							<a th:href="@{/richieste}">Visualizza Le richieste degli Utenti</a>
						</h3>
					</section>
				</div>
			</div>
		
		
	</section>

	<!-- Two -->
	<!-- Three -->

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row double">
				<div class="6u">
					<div class="row collapse-at-2">
						<div class="6u"></div>
						<div class="6u"></div>
					</div>
				</div>
				
			</div>
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Asaftei & Cotzia & Gazzollo <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
			</ul>
		</div>
	</footer>

</body>
</html>