<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>richiesta inserita con successo</title>
</head>
<body>
	richiesta inserita con successo torna alla
	<a th:href="@{/tornaindex}">Home</a>
</body>
</html>