<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 7px;
}

th {
	border: 3px solid #ffffff;
	text-align: center;
	padding: 7px;
	background-color: #000000;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
<title>Progetto Siw</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>

<link rel="stylesheet" href="css/skel.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/style-xlarge.css" />

</head>
<body>

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			SILPH
		</h1>
		<nav id="nav">
			<ul>
				<li><a th:href="@{/tornaindex}">Home</a></li>
				
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>
				<b style="color: white">Fotografie</b>
			</h2>
			<ul class="actions">
			</ul>
		</div>
	</section>
	<div></div>
	<table>
		<tr>
			<!-- --> <th><font size="4"><b>Foto</b></font></th>  
			<th><font size="4"><b>Nome</b></font></th>
			<th><font size="4"><b>Album</b></font></th>
			<th><font size="4"><b>Autore</b></font></th>
			<th><font size="4"><b>Id</b></font></th>

		</tr>
		<th:block th:each="fotografia : ${fotografie}">
			<tr>
				<td><img th:src="${fotografia.link}"></td> 
				<td><b th:text="${fotografia.nome}">...</b></td>
				<td><b th:text="${fotografia.albumFoto.nome}"></b></td>
				<td><b th:text="${fotografia.albumFoto.fotografo.nome}  + ' ' + ${fotografia.albumFoto.fotografo.cognome} "></b></td>
				<td><b th:text="${fotografia.id}"></b></td>

			</tr>
		</th:block>
	</table>

</body>
</html>